@import url(./tokens/css/_variables.css);
@import url(./tokens/css/_basics.css);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  width: 53.75em;
}

@media (max-width: 520px) {
  .layout {
    width: 100vw;
  }
}
