.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 53.75rem;
  margin: 0 auto;
}

.navbar,
.footer {
  margin-top: var(--scale-dimension-size-400);
  margin-bottom: var(--scale-dimension-size-200);
}

.themeToggle {
  padding: var(--scale-dimension-size-100);
  background-color: var(--color-gray-00);
  border-radius: var(--scale-radius-full);
  cursor: pointer;
}

@media (max-width: 520px) {
  .layout {
    width: 80%;
  }
}
