@import url(../components/css/_basics.css);

.post-list {
  border-top: 1px solid var(--semantic-border-divider);
}

.post-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--scale-dimension-size-1000);
  border-bottom: 1px solid var(--semantic-border-divider);
}

.post-information {
  display: flex;
}

.post-data {
  width: 10rem;
}

.post-category {
  width: 10rem;
}

.post-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Post, Project Contnets */

.post-contents-title {
  margin-bottom: var(--scale-dimension-size-300);
}

.post-contents-title h4 {
  margin-bottom: var(--scale-dimension-size-25);
}

.post-contents-title p {
  color: var(--color-gray-500);
}

.post-contents img,
iframe {
  margin-bottom: var(--scale-dimension-size-300);
}

/* Post, Project UI Element */

@media (max-width: 520px) {
  .post-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: var(--scale-dimension-size-1500);
  }

  .post-information {
    font-size: var(--scale-dimension-font-size-75);
    margin-bottom: var(--scale-dimension-size-50);
  }

  .post-data {
    width: 4.5rem;
  }

  .post-category {
    width: 4rem;
  }
}
