@import url(../components/css/_basics.css);

.post-list {
  border-top: 1px solid var(--semantic-border-divider);
}

.post-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--scale-dimension-size-1000);
  border-bottom: 1px solid var(--semantic-border-divider);
}

.post-information {
  display: flex;
}

.post-data {
  width: 10rem;
}

.post-category {
  width: 10rem;
}

.post-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-list {
  display: flex;
}

.project-card {
  margin-bottom: var(--scale-dimension-size-300);
  width: 50%;
}

.project-title,
.project-note,
.project-date {
  margin-bottom: var(--scale-dimension-size-75);
  width: 80%;
}
.project-note,
.project-date {
  font-size: var(--scale-dimension-font-size-75);
  color: var(--color-gray-600);
}

.project-note {
  line-height: var(--static-small);
}

/* Post, Project Contnets */

.post-contents {
  margin-bottom: var(--scale-dimension-size-2000);
}

.post-contents-title {
  margin-bottom: var(--scale-dimension-size-300);
}

.post-contents-title h4 {
  margin-bottom: var(--scale-dimension-size-25);
}

.post-contents-info {
  color: var(--color-gray-500);
  font-size: var(--scale-dimension-font-size-100);
}

.post-contents hr {
  margin-bottom: var(--scale-dimension-size-300);
}
.post-contents img,
iframe {
  margin-bottom: var(--scale-dimension-size-300);
}

/* Post, Project UI Element */

@media (max-width: 520px) {
  .post-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: var(--scale-dimension-size-1500);
  }

  .post-information {
    font-size: var(--scale-dimension-font-size-75);
    margin-bottom: var(--scale-dimension-size-50);
  }

  .post-data {
    width: 4.5rem;
  }

  .post-category {
    width: 4rem;
  }

  .project-list {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    margin-bottom: var(--scale-dimension-size-300);
    width: 100%;
  }
}
