@import url(./_dark.css);

body {
  margin: 0;
  font-family: var(--pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--scale-gray-800);
}

code {
  font-family: var(--sf-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--scale-dimension-size-0);
  line-height: var(--static-small);
  font-weight: var(--bold);
}

h1 {
  font-size: var(--scale-dimension-font-size-900);
}

h2 {
  font-size: var(--scale-dimension-font-size-800);
}

h3 {
  font-size: var(--scale-dimension-font-size-600);
}

h4 {
  font-size: var(--scale-dimension-font-size-500);
}

h5 {
  font-size: var(--scale-dimension-font-size-400);
}

h6 {
  font-size: var(--scale-dimension-font-size-300);
}

p {
  line-height: var(--static-medium);
  margin: var(--scale-dimension-size-0);
}

.links {
  text-decoration: none;
  color: var(--scale-gray-900);
}

.links:hover {
  color: var(--scale-gray-600);
}

.body-lg {
  font-size: var(--scale-dimension-font-size-200);
  line-height: var(--static-large);
}

.body-lg-bold {
  font-size: var(--scale-dimension-font-size-200);
  line-height: var(--static-large);
  font-weight: var(--bold);
}

.body-md {
  font-size: var(--scale-dimension-font-size-100);
  line-height: var(--static-medium);
  word-break: keep-all;
}

.body-md-bold {
  font-size: var(--scale-dimension-font-size-100);
  line-height: var(--static-medium);
  font-weight: var(--bold);
}

.body-sm {
  font-size: var(--scale-dimension-font-size-50);
  line-height: var(--static-medium);
}

.body-sm-bold {
  font-size: var(--scale-dimension-font-size-50);
  line-height: var(--static-medium);
  font-weight: var(--bold);
}

.body-xsm {
  font-size: var(--scale-dimension-font-size-25);
  line-height: var(--static-medium);
}

.body-xsm-bold {
  font-size: var(--scale-dimension-font-size-20);
  line-height: var(--static-medium);
  font-weight: var(--bold);
}
