@import url(./_variables.css);
@import url(./_dark.css);
@import url(./_light.css);

body {
  margin: 0;
  font-family: var(--pretendard);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--semantic-surface-low);
  color: var(--semantic-on-surface);
}

a {
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: var(--scale-radius-3);
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: var(--scale-radius-3);
}

/* 타이포 부품 */

.weight-regular {
  font-weight: var(--regular);
}

.weight-bold {
  font-weight: var(--bold);
}

.word {
  word-break: keep-all;
}

.lh-lg {
  line-height: var(--static-large);
}

.lh-md {
  line-height: var(--static-medium);
}

.lh-sm {
  line-height: var(--static-small);
}

/* 기본 타이포 셋팅 */

code {
  font-family: var(--sf-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--scale-dimension-size-0);
  line-height: var(--static-small);
  font-weight: var(--bold);
}

h1 {
  font-size: var(--scale-dimension-font-size-900);
}

h2 {
  font-size: var(--scale-dimension-font-size-800);
}

h3 {
  font-size: var(--scale-dimension-font-size-600);
}

h4 {
  font-size: var(--scale-dimension-font-size-500);
}

h5 {
  font-size: var(--scale-dimension-font-size-400);
}

h6 {
  font-size: var(--scale-dimension-font-size-300);
}

p {
  line-height: var(--static-medium);
  margin: var(--scale-dimension-size-0);
}

hr {
  width: 100%;
  height: var(--scale-dimension-size-10);
  background-color: var(--semantic-border-divider);
  border: 0;
}

.body-lg {
  font-size: var(--scale-dimension-font-size-200);
  line-height: var(--static-large);
  word-break: keep-all;
}

.body-md {
  font-size: var(--scale-dimension-font-size-100);
  line-height: var(--static-medium);
  word-break: keep-all;
}

.body-sm {
  font-size: var(--scale-dimension-font-size-50);
  line-height: var(--static-medium);
  word-break: keep-all;
}

.body-xsm {
  font-size: var(--scale-dimension-font-size-25);
  line-height: var(--static-medium);
  word-break: keep-all;
}

/* 기본 UI 스타일 셋팅  */

.links {
  text-decoration: none;
  color: var(--color-gray-800);
  cursor: pointer;
}

.links:hover {
  color: var(--color-gray-700);
}

.links-secondary {
  text-decoration: none;
  color: var(--color-gray-600);
  cursor: pointer;
}

.links-secondary:hover {
  color: var(--color-gray-700);
}
