.theme-dark {
  --color-gray-00: #000000;
  --color-gray-100: #15171a;
  --color-gray-200: #212529;
  --color-gray-300: #343a40;
  --color-gray-400: #495057;
  --color-gray-500: #868e96;
  --color-gray-600: #adb5bd;
  --color-gray-700: #dee2e6;
  --color-gray-800: #f1f3f5;
  --color-gray-900: #f8f9fa;
  --color-gray-1000: #ffffff;
  --color-purple-100: #2d1d5c;
  --color-purple-200: #482e94;
  --color-purple-300: #5f3dc4;
  --color-purple-400: #6741d9;
  --color-purple-500: #7950f2;
  --color-purple-600: #9775fa;
  --color-purple-700: #d0bfff;
  --color-purple-800: #e5dbff;
  --color-purple-900: #f3f0ff;
  --color-blue-100: #002c67;
  --color-blue-200: #1e409b;
  --color-blue-300: #2c54cd;
  --color-blue-400: #3160e1;
  --color-blue-500: #3d73ff;
  --color-blue-600: #6a94fc;
  --color-blue-700: #b0cdff;
  --color-blue-800: #d1e9ff;
  --color-blue-900: #e7f7ff;
  --color-green-100: #0e2e15;
  --color-green-200: #1c5928;
  --color-green-300: #28803a;
  --color-green-400: #2f9e44;
  --color-green-500: #40c057;
  --color-green-600: #69db7c;
  --color-green-700: #b2f2bb;
  --color-green-800: #d3f9d8;
  --color-green-900: #ebfbee;
  --color-orange-100: #4f1905;
  --color-orange-200: #8f300a;
  --color-orange-300: #d9480f;
  --color-orange-400: #e8590c;
  --color-orange-500: #fd7e14;
  --color-orange-600: #ffa94d;
  --color-orange-700: #ffd8a8;
  --color-orange-800: #ffe8cc;
  --color-orange-900: #fff4e6;
  --color-ash-100: #131311;
  --color-ash-200: #262521;
  --color-ash-300: #393832;
  --color-ash-400: #4c4a43;
  --color-ash-500: #5f5d54;
  --color-ash-600: #727064;
  --color-ash-700: #858275;
  --color-ash-800: #989586;
  --color-ash-900: #aba796;
  --color-ash-1000: #bebaa7;
  --color-red-100: #700707;
  --color-red-200: #9b0404;
  --color-red-300: #c92a2a;
  --color-red-400: #e03131;
  --color-red-500: #fa5252;
  --color-red-600: #ff8787;
  --color-red-700: #ffc9c9;
  --color-red-800: #ffe3e3;
  --color-red-900: #fff5f5;
  --color-gray-alpha-25: rgba(255, 255, 255, 0.03);
  --color-gray-alpha-50: rgba(255, 255, 255, 0.05);
  --color-gray-alpha-100: rgba(255, 255, 255, 0.1);
  --color-purple-alpha-100: rgba(149, 114, 255, 0.2);
  --color-purple-alpha-200: rgba(149, 114, 255, 0.3);
  --color-green-alpha-100: rgba(64, 192, 87, 0.1);
  --color-green-alpha-200: rgba(64, 192, 87, 0.2);
  --color-red-alpha-100: rgba(250, 82, 82, 0.1);
  --color-red-alpha-200: rgba(250, 82, 82, 0.2);
  --color-blue-alpha-100: rgba(0, 102, 255, 0.2);
  --color-blue-alpha-200: rgba(0, 102, 255, 0.3);
  --static-black: #000000;
  --static-white: #ffffff;
  --static-blue: #3d73ff;
  --static-alpha-balck-500: rgba(0, 0, 0, 0.5);
  --static-alpha-balck-200: rgba(0, 0, 0, 0.2);
  --static-alpha-white-200: rgba(255, 255, 255, 0.2);
  --static-alpha-white-500: rgba(255, 255, 255, 0.5);
  --alpha-100: 0.1;
  --alpha-200: 0.2;
  --alpha-500: 0.5;
  --semantic-on-primary: #ffffff;
  --semantic-primary: #3d73ff;
  --semantic-primary-event: #6a94fc;
  --semantic-primary-low: rgba(0, 102, 255, 0.2);
  --semantic-primary-low-event: rgba(0, 102, 255, 0.3);
  --semantic-negative: #fa5252;
  --semantic-negative-event: #e03131;
  --semantic-negative-low: rgba(250, 82, 82, 0.1);
  --semantic-positive: #40c057;
  --semantic-positive-low: rgba(64, 192, 87, 0.1);
  --semantic-disabled: #495057;
  --semantic-disabled-low: #212529;
  --semantic-surface-low: #000000;
  --semantic-surface: #15171a;
  --semantic-surface-contents: #212529;
  --semantic-on-surface: #f8f9fa;
  --semantic-border-thumbnail: rgba(255, 255, 255, 0.03);
  --semantic-border-divider: #212529;
}
