:root[color-theme="dark"] {
  --theme-gray-00: #000000;
  --theme-gray-100: #15171a;
  --theme-gray-200: #212529;
  --theme-gray-300: #343a40;
  --theme-gray-400: #495057;
  --theme-gray-500: #868e96;
  --theme-gray-600: #adb5bd;
  --theme-gray-700: #dee2e6;
  --theme-gray-800: #f1f3f5;
  --theme-gray-900: #f8f9fa;
  --theme-gray-1000: #ffffff;
  --theme-purple-100: #2d1d5c;
  --theme-purple-200: #482e94;
  --theme-purple-300: #5f3dc4;
  --theme-purple-400: #6741d9;
  --theme-purple-500: #7950f2;
  --theme-purple-600: #9775fa;
  --theme-purple-700: #d0bfff;
  --theme-purple-800: #e5dbff;
  --theme-purple-900: #f3f0ff;
  --theme-blue-100: #002c67;
  --theme-blue-200: #1e409b;
  --theme-blue-300: #2c54cd;
  --theme-blue-400: #3160e1;
  --theme-blue-500: #3d73ff;
  --theme-blue-600: #6a94fc;
  --theme-blue-700: #b0cdff;
  --theme-blue-800: #d1e9ff;
  --theme-blue-900: #e7f7ff;
  --theme-green-100: #0e2e15;
  --theme-green-200: #1c5928;
  --theme-green-300: #28803a;
  --theme-green-400: #2f9e44;
  --theme-green-500: #40c057;
  --theme-green-600: #69db7c;
  --theme-green-700: #b2f2bb;
  --theme-green-800: #d3f9d8;
  --theme-green-900: #ebfbee;
  --theme-orange-100: #4f1905;
  --theme-orange-200: #8f300a;
  --theme-orange-300: #d9480f;
  --theme-orange-400: #e8590c;
  --theme-orange-500: #fd7e14;
  --theme-orange-600: #ffa94d;
  --theme-orange-700: #ffd8a8;
  --theme-orange-800: #ffe8cc;
  --theme-orange-900: #fff4e6;
  --theme-red-100: #700707;
  --theme-red-200: #9b0404;
  --theme-red-300: #c92a2a;
  --theme-red-400: #e03131;
  --theme-red-500: #fa5252;
  --theme-red-600: #ff8787;
  --theme-red-700: #ffc9c9;
  --theme-red-800: #ffe3e3;
  --theme-red-900: #fff5f5;
  --theme-gray-alpha-25: rgba(255, 255, 255, 0.03);
  --theme-gray-alpha-50: rgba(255, 255, 255, 0.05);
  --theme-gray-alpha-100: rgba(255, 255, 255, 0.1);
  --theme-purple-alpha-100: rgba(121, 80, 242, 0.1);
  --theme-purple-alpha-200: rgba(121, 80, 242, 0.2);
  --theme-green-alpha-100: rgba(64, 192, 87, 0.1);
  --theme-green-alpha-200: rgba(64, 192, 87, 0.2);
  --theme-red-alpha-100: rgba(250, 82, 82, 0.1);
  --theme-red-alpha-200: rgba(250, 82, 82, 0.2);
  --static-black: #000000;
  --static-white: #ffffff;
  --static-blue: #3d73ff;
  --static-alpha-balck-500: rgba(0, 0, 0, 0.5);
  --static-alpha-balck-200: rgba(0, 0, 0, 0.2);
  --static-alpha-white-200: rgba(255, 255, 255, 0.2);
  --static-alpha-white-500: rgba(255, 255, 255, 0.5);
  --alpha-100: 0.1;
  --alpha-200: 0.2;
  --alpha-500: 0.5;
}
